.h1T{
  color: #fff;
  font-family: Lato;
  font-size: 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  animation: enhance-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 20px;
}
@keyframes enhance-header {
  to {
  font-weight: 600;
  background-color: rgb(42, 43, 66 .4);
  backdrop-filter: blur(6px);
  }
}
.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contenedor-secundario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*columns: 2;*/  
  column-gap: 2rem;
  padding-top: 1.875rem;
  padding-bottom: 5rem;
}