@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el scrollbar */
::-webkit-scrollbar {
    height: 0;
    width: 0; /* Ancho del scrollbar */
  }
  
  html, body {
    background-color: black;
    font-size: 1.125rem;
    min-height: 5vh;
  }